body, html {
	height: 100%
}

.bgimg {
	background-image: url('2018-MeerKAT-array.png');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #0a044d;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px
}

.middle {
	position: fixed;
	top: 40%;
	left: 40%;
	transform: translate(-70%, -70%);
	text-align: center;
}